*{
    margin: 0;
}
.App{
    background-color: #fafafa;
}
.app__header{
    object-fit: contain;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
}
.app__headerLogo{
    width: 7%;
    object-fit: contain;
}